body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: local("Poppins"), url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
}

p {
    font-size: 16px;
}

img {
    width:100%;
}

.topnav {
    background-color: #F8E9C2;
    overflow:hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 30% 1fr 1fr;
    @media (max-width: 500px) {
        display:none;
    }                    
}

.topnavmobile {
    background-color: #F8E9C2;
    overflow:hidden;
    display: grid;
    grid-template-columns: 1fr 30%;
    @media (min-width: 500px) {
        display:none;
    }          
}


.dropdownbutton {
    background-color: #4F7242;
    stroke: #ffff;
    width: 100px;
    margin: 10px;
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.sky {
    width: 100%;
    z-index: 0;
    display: block;
}

.grass {
    top: 250px;
    min-height: 200px;

}

.parralax {
    background-image: url("assets/ground");

    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 video:nth-child(1){
    width: 100%;
    z-index: 0;
    display: block;

    @media (max-width: 900px)
     display: none; 
     
    @media (max-width: 500px)
     display: none; 

    animation: plantgrow 1s linear;
}

.section1 video:nth-child(2){
    width: 100%;
    z-index: 0;
    display:none;

    @media (max-width: 900px)
    display: block;

    @media (max-width: 500px)
    display: none; 
}

.section1 video:nth-child(3){
    width: 100%;
    z-index: 0;
    display:none;

    @media (max-width: 900px)
    display: none; 

    @media (max-width: 500px)
    display: block; 
}

@keyframes plantgrow {
    from {opacity: 0;};
    to {opacity: 1;};
}


.topnav {
    background-color: #F8E9C2;
    padding: 10px 5px;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.topnav a {
    background-color: #4f7242;
    color: white;
    border-radius: 5px;
    display: flex;
    padding: 10px 10px;
    height: 4vh;
    margin: 10px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ffffff;
    color:black;
}

.topnav a.active {
    background-color: #94b787 ;
}

.biebinbloei {
    background-color: #4F7242;
    border-radius: 2em;
}

.welkom {
    background-color: #F8E9C2;
    text-align: center;
    padding:70px;

}

.welkom button{
    background-color: #4F7242;
    border-width: 2px;
    font-size: 24px;
    color:#F8E9C2;
    padding:10px;
    border-radius: 5px;
}


.harry {
    position: absolute;
    z-index: 1;
    width: 10%;
    left: 43%;
    top: 30%;
}

.detuintext {
    background-color:#4F7242;
    color:#ffffff;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
}

.detuin {
    transform: perspective(300px) rotateX(10deg) scale(42%) scaleX(1.7);
}

.workshopstitle {
    grid-column: 1/2;
    grid-column-start: 1;
}

.wholeworkshop {
    background-color: #F8E9C2;
    color:#4F7242;
    text-align: center;
}

.wholeworkshop h1 {
    padding-top: 40px;
} 

.workshops {
    display: grid;
    grid-template-columns: 70% 30%;
    @media (max-width: 900px) {
        display:grid;
        grid-template-columns: 1fr;
    }
}

.example {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


footer {
    background-color:#4F7242;
    display: flex;
    @media  screen (min-width: 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.bieblogoklein {
    display: flex;
    width: 200px;
    padding: 50px

}

.map {
    margin: 50px;
    @media (max-width: 900px) {
        display:none;
    }
}

.footerlogo {
    display: flex;
    justify-content: center;
}

.footerlogo img {
    object-fit: contain;

}