body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: local("Poppins"), url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
}

p {
    font-size: 16px;
}

header {
    background-color: #F8E9C2;
    overflow:hidden;
    display: flex;
}

.topnav {
    background-color: #F8E9C2;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.topnav a {
    background-color: #4f7242;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #ffffff;
    color:black;
}

.topnav a.active {
    background-color: #94b787 ;
}

img {
    width:100%;
}

.overons {
    display: flex;
    justify-content: flex-end;
}

.contact {
    display: flex;
    justify-content: flex-end;
}

.ground {
    position:absolute;
    top: 170px;
    z-index: 1;
}


.plant1 {
    z-index: 2;
    grid-column-start: 1;
    grid-column: 1/2;
}

.plant2 {
    z-index: 2;
    grid-column-start: 2;
}

.plant3 {
    z-index: 2;
    grid-column-start: 4;
}

.plant4 {
    z-index: 2;
    grid-column-start: 5;
}

.welkom {
    background-color: #F8E9C2;
    text-align: center;
    padding:70px;

}

.welkom button{
    background-color: #4F7242;
    border-width: 2px;
    font-size: 24px;
    color:#F8E9C2;
    padding:10px;
    border-radius: 5px;
}

.section1 {
    position:absolute;
    display: flex;
    align-items: baseline;
    top: 100px;
}

.harry {
    /* position: absolute; */
    width: 90%;
}

.detuintext {
    background-color:#4F7242;
    color:#ffffff;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
}

.detuin {
    transform: perspective(300px) rotateX(10deg) scale(42%) scaleX(1.7);
}

.workshopstitle {
    grid-column: 1/2;
    grid-column-start: 1;
}

.workshops {

    display:grid;
    grid-template-columns: 60% 40%;
    gap: 50px;
}

.example1 {
    background-color: #ffffff;
    padding: 50px;
    grid-column-start: 1;
    border-radius: 10px;
    grid-row: 1/6;


}
.example2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    padding: 20px;

}

.example2 h2 {
    font-size: 16px;
}



.wholeworkshop {
    background-color: #F8E9C2;
    color:#4F7242;
}

footer {
    background-color:#4F7242;
    display: flex;

}

.map {
    margin: 50px;
    scale: 80%;
}

.footerlogo {
    display: flex;
    justify-content: center;
}

.footerlogo img {
    object-fit: contain;

}

@media only screen and (max-width: 900px) {
    .map {
      display:none;
    }

    .plant4 {
        display:none;
    }


    .plant1 {
        display:none;
    }
  }